[submodule "compiler-explorer"]
	path = compiler-explorer
	url = https://github.com/SBird1337/compiler-explorer.git
[submodule "agbcc"]
	path = agbcc
	url = https://github.com/pret/agbcc.git
[submodule "agbcc_arm"]
	path = agbcc_arm
	url = https://github.com/camthesaxman/agbcc
	branch = arm_support
[submodule "new_agbcc"]
	path = new_agbcc
	url = https://github.com/jiangzhengwenjz/agbcc
	branch = new_newlib_pret
